profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
}


manifest {
  name = 'Sage-Bionetworks/synapse-nextflow'
  author = 'Thomas Yu'
  homePage = 'https://github.com/Sage-Bionetworks/synapse-nextflow'
  description = 'Nextflow synapseclient'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.0'
  version = '1.4.2'
}
